/* styles.css */

.hidden {
    display: none;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.div-font-box {
    display: inline;

    margin: 4px;
    padding: 0;
    color: #333;
}

.log-font{
    width:100%;
    height:100%;
    overflow-y:scroll;


}
input[type=text] {
    box-sizing: border-box;
    border:#5e81ac, solid, 2px;
  }

button{
    padding: 4px;
    margin:5px;
}

.btn:hover {
    background-color: #F44336;
    color: white;
  }

.half-size-box{
    width:50%;
    height:50%;
    display: block;
    background-color: #5e81ac;
}
/*----------------------------------------------------------*/

header {
    background-color: #eceff4;
    border: #eceff4;
    /* size */
    width: 100%;
    height: 60px;
    /* position */
    position: fixed;
    top: 0;
    left: 0;
    -webkit-app-region: drag;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}
.logo {
    width: 30px;
    height: 30px;
    align-items: center;
}
.title {
    margin: 4px;
    color: #4c566a;
}
.menu-item {
    display: inline;
    width: 10px;
    margin: 4px;
    -webkit-app-region: no-drag;
}
.option-bar {
    position: absolute;
    top: 30px;

    height: 30px;
    width: 100%;
    -webkit-app-region: no-drag;
    justify-content: left;
}

.options {
    height: 30px;
    width: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option {
    width: 30px;
    padding-right: 10px;
    -webkit-app-region: no-drag;
}

header ul {
    display: inline;
    justify-content: center;
}

header li {
    display: inline;
}

/*----------------------------------------------------------*/

main {
    width: 100%;
    height: 100%;

    margin: 80px auto;
    display: flex;
    flex-direction:column;   
    justify-content: center;
    align-items: center;
}
#above-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:1000px;


}

.config-box {
    border: #5e81ac, solid, 2px;
    border-radius: 5px;

    width: 300px;
    height:250px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-box {
    border: #5e81ac, solid, 2px;
    border-radius: 5px;

    width: 250px;
    height:250px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#qr-image{
    height: 100%;
}

.display-box {
    border: #5e81ac, solid, 2px;
    border-radius: 5px;

    width: 900px;
    height:200px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/*----------------------------------------------------------*/
footer {
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;

    background-color: #eceff4;
    align-items: center;
    position: fixed;

    display: flex;
    justify-content: left;
}

.footer-bar-name {
    margin-left: 10px;
}
.footer-bar-name-text {
    font-size: small;
    color: #a3be8c;
}

/*----------------------------------------------------------*/

a {
    color: darkcyan;
    text-decoration: none;
}

a:hover {
    color: darkcyan;
    text-decoration: underline;
}

/*----------------------------------------------------------*/
