/* styles.css */

.hidden {
    display: none;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.div-font-box {
    display: inline;

    margin: 4px;
    padding: 0;
    color: #333;
}

.log-font{
    width:100%;
    height:100%;
    overflow-y:scroll;


}
input[type=text] {
    box-sizing: border-box;
    border:#5e81ac, solid, 2px;
  }

button{
    padding: 4px;
    margin:5px;
}

.btn:hover {
    background-color: #F44336;
    color: white;
  }

.select-button{
    width: 100%;
    color:#5e81ac;

}

/*----------------------------------------------------------*/

header {
    background-color: #eceff4;
    border: #eceff4;
    /* size */
    width: 100%;
    height: 60px;
    /* position */
    position: fixed;
    top: 0;
    left: 0;
    -webkit-app-region: drag;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}
.logo {
    width: 30px;
    height: 30px;
    align-items: center;
}
.title {
    margin: 4px;
    color: #4c566a;
}
.menu-item {
    display: inline;
    width: 10px;
    margin: 4px;
    -webkit-app-region: no-drag;
}
.option-bar {
    position: absolute;
    top: 30px;

    height: 30px;
    width: 100%;
    -webkit-app-region: no-drag;
    justify-content: left;
}

.options {
    height: 30px;
    width: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option {
    width: 30px;
    padding-right: 10px;
    -webkit-app-region: no-drag;
}

header ul {
    display: inline;
    justify-content: center;
}

header li {
    display: inline;
}

/*----------------------------------------------------------*/
body{
    /* background:linear-gradient(45deg,DodgerBlue,DarkTurquoise,LightSkyBlue); */
    background: rgb(100,129,205);
background: linear-gradient(29deg, rgba(100,129,205,1) 0%, rgba(114,187,203,1) 59%, rgba(0,212,255,0.7399334733893557) 100%);
}
main {
    width: 100%;
    height: 100%;

    margin-top: 80px;
    
    display: flex;
    flex-direction:column;   
    justify-content: center;
    align-items: center;
}
#select-cs{
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.half-size-box{
    width:60%;
    height:30%;
    display: block;
    background-color: #5e81ac;
    display: flex;
    justify-content: center;
}

/*----------------------------------------------------------*/
footer {
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;

    background-color: #eceff4;
    align-items: center;
    position: fixed;

    display: flex;
    justify-content: left;
}

.footer-bar-name {
    margin-left: 10px;
}
.footer-bar-name-text {
    font-size: small;
    color: #a3be8c;
}

/*----------------------------------------------------------*/

a {
    color: darkcyan;
    text-decoration: none;
}

a:hover {
    color: darkcyan;
    text-decoration: underline;
}

/*----------------------------------------------------------*/
