ECPy==1.2.5
gmpy2==2.1.4
#numpy==1.14.5
numpy==1.24
numpy==1.25
opencv_python==4.9.0.80
opencv-contrib-python
pycryptodome==3.16.0
pycryptodomex==3.16.0
pyzbar==0.1.9
qrcode==7.4.2
gmssl-python==2.2.2
pandas==2.0.0
matplotlib==3.7.5